.btn-theme {
   background-color: #fff;
  position: relative;
}

.btn-primary {
  border-radius: 50px;
  padding: 15px 45px;
  text-transform: uppercase;
  font-size: 14px;
  color: $primary;
  display: inline-block;
  border: 0;

}
.btn-read-more{
  width: 90px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  &:hover{
    color: #fff;
    background-color: #F2CE5F;
  }
}
