.text-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.clearfix {
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

.background-withcolor{
  background-color: $primary;
}
.slide__text--primary{
  color: #fff;
  max-width: 400px;
}
.background-fixed {
  background-attachment: fixed;
}

.background-fullwidth {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.space-50{
  height: 50px;
}
.padding-100{
  padding: 100px 0;
}
.font-lato{
  font-family: 'Lato', sans-serif;
}