<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<header class="main-header clearfix">
    <nav class="nav">
        <ul class="nav-items">
            <li class="nav-item">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Feature</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Screenshots</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Team</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link">
                    News
                    <i class="fas fa-caret-down"></i>
                </a>
                <ul class="dropdown-content">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Recent News</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">News One</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">News Two</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">News Three</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Contact</a>
            </li>
        </ul>
    </nav>
</header>
<body>
<div class="why-us padding-100 background-fixed background-fullwidth">
    <div class="why-us-row">
        <div class="text-center why-us-image">
            <img src="~images/mobile-2.png" class="img-fluid" alt="">
        </div>
        <div class="why-us-content">
            <h3 class="why-us-title font-lato">Make Business Easy With Us</h3>
            <p class="why-us-p">
                Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incidit labore
                lorem
            </p>
            <div class="space-50">
            </div>
            <div class=why-row>
                <div class="why-us-icon">
                    <i class="fas fa-rocket"></i>
                    <p class="why-us-p">Intrinsically aggregate cutting-edge internal or "organic" sources through
                        pandemic.
                        Intrinsically aggregate cutting-edge internal or "organic" sources through
                        pandemic.
                    </p>
                </div>
                <div class="why-us-icon">
                    <i class="fas fa-rocket"></i>
                    <p class="why-us-p">It doesn't matter if you are in an office or on an airplane. You will never lose
                        a second.
                    </p>
                </div>
            </div>
            <div class="space-25">
            </div>
            <div class=why-row>
                <div class="why-us-icon">
                    <i class="fas fa-rocket"></i>
                    <p class="why-us-p">It doesn't matter if you are in an office or on an airplane. You will never lose
                        a second.
                    </p>
                </div>
                <div class="why-us-icon">
                    <i class="fas fa-rocket"></i>
                    <p class="why-us-p">Intrinsically aggregate cutting-edge internal or "organic" sources through
                        pandemic.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
</footer>
</html>